.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header{
  height: 500px;
  background-color: rgba(10, 10, 41, 0.822);
}

.NavBar{
  display: flex;
  justify-content: space-around;
  height: 80px;
}

.icons{
  width: 60%;
  height: 200px;
}

.Me{
  display: flex;
  margin-top: 30px;
  text-align: center;
  align-items: center;
}

.presentation{
  height: 200px;
  width: 40%;
  border-radius:50%;
  height: 380px;
  width: 380px;
  margin-left: 15%;
  align-items: center;
  text-align: center;
  margin-right: 40px;
  border: 1px solid black;
}

a,h3,h4{
  color: white;
  font-weight: bolder;
}

.Button{
  height: 40px;
  width: 150px;
  border-radius: 20px;
  background-color: rgba(241, 99, 4, 0.836);
  cursor: pointer;
}

a:hover{
  color: blue;
}

img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}