.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header{
  height: 500px;
  background-color: rgba(10, 10, 41, 0.822);
}

.NavBar{
  display: flex;
  justify-content: space-around;
  height: 80px;
}

.icons{
  width: 60%;
  height: 200px;
  cursor: pointer;
}

.Me{
  display: flex;
  margin-top: 30px;
  text-align: center;
  align-items: center;
}

.presentation{
  height: 200px;
  width: 40%;
  border-radius:50%;
  height: 380px;
  width: 380px;
  margin-left: 15%;
  align-items: center;
  text-align: center;
  margin-right: 40px;
  border: 1px solid black;
}

a,h3,h4{
  color: black;
  font-weight: bolder;
}

.Button{
  height: 40px;
  width: 150px;
  border-radius: 20px;
  background-color: rgba(241, 99, 4, 0.836);
  cursor: pointer;
}

a:hover{
  color: blue;
}

.Img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

h2{
  text-decoration: underline overline orange;
}

.Main{
  align-items: center;
  text-align: center;
  background-color: rgba(35, 61, 68, 0.712);
}

.AboutMe{
  height: 300px;
  width: 40%;
  display: flex;
  margin-left: 30%;
  box-shadow: -15px -15px -15px rgba(255,255,255,0.2),
              15px 15px 15px rgba(0,0,0,0.1);
              background-color: rgba(58, 47, 47, 0.027);
}

.Contain1{
  width: 50%;
  border: 2px solid rgba(255, 255, 255, 0.219);
  box-shadow: -15px -15px -15px rgba(255,255,255,0.2),
              15px 15px 15px rgba(0,0,0,0.1);
}

.Contain2{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  width: 50%;
  border: 2px solid rgba(255, 255, 255, 0.219);
  box-shadow: -15px -15px -15px rgba(255,255,255,0.2),
              15px 15px 15px rgba(0,0,0,0.1)
}

img{
  height: 100%;
  width: 100%;
}

.Part2{
  height: 120px;
}

.Resume{
  height: 355px;
  width: 50%;
  margin-left: 25%;
  display: flex;
  justify-content: space-around;
}

.Progress{
  border: 2px solid green;
  height: 700px;
}

.footer{
  background-color:rgba(10, 10, 41, 0.822); ;
  height: 400px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  margin-top: 1%;
}

.touch{
  display: flex;
  width: 60%;
  flex-direction: row;
}

.formulaire{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(207, 206, 204);
  height: 400px;
}

.mail{
  height: 200px;
}

input{
  height: 50px;
  width: 80%;
  border-radius: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
  font-weight: 400;
  background-color: gray;
}

.Mes{
  height: 80px;
  font-size: 1rem;
}

.Send{
  height: 30px;
  width: 20%;
  border-radius: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.199);
  cursor: pointer;
}

::placeholder{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
  font-weight: bold;
  color: black;

}

.p{
  font-weight: bold;
}